<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse navbar-toggleable">
  <div class="container">
    <a class="navbar-brand" href="#">Entertainment Portal</a>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/movies" class="nav-link" [routerLinkActive]="'active'">Movies
          <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
