<nav aria-label="Movie list navigation">
  <ul class="pagination justify-content-center">
    <li app-pagination-button [ariaLabel]="'Previous'" (click)="pageClicked($event)"
        [attr.disabled]="isButtonDisabled()" [class.disabled]="isButtonDisabled()">
      <span aria-hidden="true">&laquo;</span>
      <span class="sr-only">Previous</span>
    </li>
    <ng-container *ngFor="let pageNumber of leftPages">
      <li app-pagination-button (click)="pageClicked($event)">
        {{pageNumber + 1}}
      </li>
    </ng-container>
    <li app-pagination-button (click)="pageClicked($event)">
      <i class="fa fa-fw fa-ellipsis-h"></i>
    </li>
    <ng-container *ngFor="let pageNumber of rightPages">
      <li app-pagination-button (click)="pageClicked($event)">
        {{pageNumber + 1}}
      </li>
    </ng-container>
    <li app-pagination-button [ariaLabel]="'Next'" [attr.disabled]="isButtonDisabled()"
        [class.disabled]="isButtonDisabled()">
      <span aria-hidden="true">&raquo;</span>
      <span class="sr-only">Next</span>
    </li>
  </ul>
</nav>
