<div class="container-fluid" *ngIf="data && (data | async) !== null">
  <div class="row">
    <div class="col-12" *ngIf="data && (data | async) !== null">
      <div class="row p-1">
        <div class="col-12">
          <a [routerLink]="['/movies']"
             [queryParams]="{search: (data|async)?.currentSearchText}"
             class="detail-close-button">
            <i class="fa fa-fw fa-chevron-left"></i> Back to list view
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4 text-center p-1">
          <img class="hidden-xl-up rounded" [attr.src]="(data|async)?.poster_url">
          <img class="hidden-lg-down rounded" [attr.src]="(data|async)?.poster_url_large">
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="row">
            <div class="col-12">
              <h5 class="p-1 bg-info text-white rounded">Overview</h5>
            </div>
          </div>
          <div class="row hidden-sm-down">
            <div class="col-12">
              <p>{{(data | async)?.overview}}</p>
            </div>
          </div>
          <div class="row hidden-md-up">
            <div class="col-12">
              <app-less-more-text [text]="(data | async)?.overview" [title]="''"></app-less-more-text>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 class="p-1 bg-info text-white rounded">Stats.</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h6><i class="fa fa-fw fa-ticket"></i> {{(data | async)?.revenue | currency:'USD':true:'1.2-2'}}</h6>
            </div>
            <div class="col-6">
              <h6><i class="fa fa-fw fa-clock-o"></i> {{(data | async)?.runtime}} minute(s)</h6>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 class="p-1 bg-info text-white rounded">Credits</h5>
            </div>
          </div>
          <div class="row" *ngIf="(data|async)?.credits">
            <div class="col-12 col-sm-6 col-md-6">
              <h6 *ngIf="(data | async)?.credits.director">
                <i class="fa fa-fw fa-bullhorn"></i>
                {{(data | async)?.credits.director.name}}
              </h6>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
              <ul class="fa-ul"
                  *ngIf="(data|async)?.credits.mainArtists && (data|async)?.credits.mainArtists.length > 0">
                <li *ngFor="let artist of (data|async)?.credits.mainArtists; let i = index">
                  <i class="fa-li fa fa-user-o"></i> {{artist.name}} ({{artist.character}})
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <h5 class="p-1 bg-info text-white rounded">Popularity</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <h6><i class="fa fa-fw fa-user-circle-o"></i> {{(data|async)?.vote_count |
                number:'1.0-0'}}<span> vote(s)</span></h6>
            </div>
            <div class="col-6">
              <h6 *ngIf="(data|async)?.reviews && (data|async)?.reviews.total_results > 0; else noReviewTemplate">
                <a href="javascript:" [routerLink]="['/movies', (data|async)?.id, 'reviews']">
                  <i class="fa fa-fw fa-commenting-o"></i>
                  {{(data|async)?.reviews.total_results | number:'1.0-0'}}
                  <span> review(s)</span> <i class="fa fa-fw fa-arrow-circle-o-right"></i>
                </a>
              </h6>
              <ng-template #noReviewTemplate>
                No review(s)
              </ng-template>
            </div>
          </div>
          <div class="row"
               *ngIf="(data|async)?.keywords && (data|async)?.keywords.keywords && (data|async)?.keywords.keywords.length > 0">
            <div class="col-12">
              <h5 class="p-1 bg-info text-white rounded">Related Keywords</h5>
              <ul class="list-inline">
                <li *ngFor="let keyword of (data|async)?.keywords.keywords" class="list-inline-item">
                  <i class="fa fa-fw fa-tag"></i> {{keyword.name}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
