<div class="row">
  <div class="col-12">
    <form>
      <div class="form-group">
        <label class="sr-only" for="inlineFormInput">Keywords</label>
        <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" [value]="query | async"
               (keyup)="searchMovies($event.target.value)" placeholder="Type keyword to search">
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="searching-spinner" [style.display]="!(searching | async) ? 'none': 'block'">
      <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<div class="row movie-list" [style.display]="(searching | async) ? 'none': 'block'">
  <div class="col-12">
    <app-movie-item *ngFor="let movie of movies$ | async" [data]="movie"></app-movie-item>
  </div>
</div>
