<div class="row" *ngIf="!hidePaginationComponent">
  <div class="col-12">
    <app-pagination [currentPage]="listCurrentPage" [totalPages]="listTotalPages"
                    (pageClickedEvent)="pageChangedInPagination($event)" >
    </app-pagination>
  </div>
</div>
<ng-content></ng-content>
<div class="row" *ngIf="!hidePaginationComponent" >
  <div class="col-12">
    <app-pagination [currentPage]="listCurrentPage" [totalPages]="listTotalPages"
                    (pageClickedEvent)="pageChangedInPagination($event)">
    </app-pagination>
  </div>
</div>
